<div style="width: 90%;">
    <div class="form-group">
        <label id="lblClient">Client:</label>
        <input type="text" id="txtBanque" class="form-control" name="banque" pattern="\d*" maxlength="5" [(ngModel)]="client.banque">
        <input type="text" id="txtAgence" class="form-control" name="agence" pattern="\d*" maxlength="5" [(ngModel)]="client.agence">
        <input type="text" id="txtClassement" class="form-control" name="classement" pattern="\d*" maxlength="6" [(ngModel)]="client.classement">
        <input type="text" id="txtSerie" class="form-control" name="serie" pattern="\d*" maxlength="3" [(ngModel)]="client.serie">
        <input type="text" id="txtSCompte" class="form-control" name="sCompte" pattern="\d*" maxlength="2" [(ngModel)]="client.sCompte" (blur)="getClient()">
        <label id="lblClient">{{ client.name }}</label>
    </div>
</div>