<div style="width: 90%;">
    <div class="form-group">
        <label id="lblCompte">Compte:</label>
        <input type="text" id="txtBanque" class="form-control" name="banque" pattern="\d*" maxlength="5" placeholder="30076">
        <input type="text" id="txtAgence" class="form-control" name="agence" pattern="\d*" maxlength="5" placeholder="2019">
        <input type="text" id="txtClassement" class="form-control" name="classement" pattern="\d*" maxlength="6" placeholder="144539">
        <input type="text" id="txtSerie" class="form-control" name="serie" pattern="\d*" maxlength="3" placeholder="2">
        <input type="text" id="txtSCompte" class="form-control" name="sCompte" pattern="\d*" maxlength="2" placeholder="0">
        <label id="lblClient" name="client" >Le Balcon Billete</label>
    </div>
</div>