#main {
    margin-left: 0;
    margin-right: 0;
    min-height: 600px;
}
  
#main .onyx-content {
    border: 5px solid #4c9bd4;
    border-radius: 7pt;
    background: white;   
    padding-right: 0; 
    min-height: 100%;
}
   
#main .onyx-main-menu {
    border: 5px solid #4c9bd4;
    border-radius: 7pt;
    background: white;    
    min-height: 100px; 
    min-height: 100%;
}
  
.header, .footer {
    border: 5px solid #4c9bd4;
    border-radius: 7pt;
    background: black;
    color: white;
    margin-left: 0;
    margin-right: 0;
}

h2 > a {
    color: white;
}
  
/* CSSTerm.com Horizontal Easy DropDown CSS menu */

.onyx-drop-menu {
	padding:0;
	margin:0;
	list-style-type:none;
}
.onyx-drop-menu li { 
    float:left; 
}

.onyx-drop-menu li a {
	padding:12px 20px;
	display:block;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    color:#007bff;
}

/* Submenu */
.onyx-drop-menu ul {
	list-style-type:none;
}

.onyx-drop-submenu {
    display: none;
    background-color:white;
}

.onyx-drop-submenu li{
    width: 100%;
    text-indent:15px;
}

.onyx-drop-menu li:hover .onyx-drop-submenu {
	display: block;	
}

.onyx-drop-submenu li:hover a {  
    color: #0056b3;
    font-style: italic;
    background-color: transparent;
 }

 .dropdown-item.active {
     background-color: transparent;
     color: #0056b3;
     font-weight: bold;
 }