<body>
<header>
  <div style="padding: 1rem;">
    <h6 style="display: inline-block; width: 20%;">{{userInfo.matricule}}</h6>
    <h2 style="display: inline-block; width: 80%; text-align: right;"><a class="nav-link" href="#" role="button" routerLinkActive="active" routerLink="/" >{{title}}</a></h2>
  </div>  
</header>
<div id='main'>
<nav class="onyx-main-menu">
  <ul class="onyx-drop-menu">
    <li class="onyx-drop-menu-item">
      <a href="#" role="button" aria-haspopup="true"
       aria-expanded="false" routerLinkActive="active">Rectification Fiscale Coupons</a>
      <ul class="onyx-drop-submenu">
        <li>
          <a class="dropdown-item" role="button" href="#" routerLink="/rectifCoupons_creer" routerLinkActive="active">Creer</a></li>
        <li>
          <a class="dropdown-item" role="button" href="#" routerLink="/rectifCoupons_interroger" routerLinkActive="active">Interroger</a></li>
      </ul>
    </li>
    <li class="onyx-drop-menu-item">
      <a href="#" role="button" aria-haspopup="true"
       aria-expanded="false" routerLinkActive="active">Rectification Fiscale Matif et TCN</a>
      <ul class="onyx-drop-submenu">
        <li>
          <a class="dropdown-item" role="button" href="#" routerLink="/rectifMatif_creer" routerLinkActive="active">Creer</a></li>
        <li>
          <a class="dropdown-item" role="button" href="#" routerLink="/rectifMatif_interroger" routerLinkActive="active">Interroger</a></li>
      </ul>
    </li>
    <li style="width: 100%;">
      <a href="" role="button" (click)="quit();" aria-haspopup="true" aria-expanded="false">Quitter</a>
    </li>
    <li style="width: 100%;">
      <hr style="background: #4c9bd4;"/>
    </li>
    <li style="width: 100%;">
      <a href="" role="button" (click)="openCCM();" aria-haspopup="true" aria-expanded="false">CCM</a>
    </li>
  </ul>
</nav>
<article >
    <router-outlet></router-outlet>
</article>
</div>

<footer class="footer">
  <h5>REC Angular POC</h5>
</footer>
</body>