<body>
<header>
  <h2><a class="nav-link" href="#" role="button" routerLinkActive="active" routerLink="/" >{{title}}</a></h2>
</header>
<div id='main'>
<nav class="onyx-main-menu">
  <ul class="onyx-drop-menu">
    <li class="onyx-drop-menu-item">
      <a href="#" role="button" aria-haspopup="true"
       aria-expanded="false" routerLinkActive="active">Rectification Fiscale Coupons</a>
      <ul class="onyx-drop-submenu">
        <li>
          <a class="dropdown-item" role="button" href="#" routerLink="/rectifCoupons_creer" routerLinkActive="active">Creer</a></li>
        <li>
          <a class="dropdown-item" role="button" href="#" routerLink="/rectifCoupons_interroger" routerLinkActive="active">Interroger</a></li>
      </ul>
    </li>
    <li class="onyx-drop-menu-item">
      <a href="#" role="button" aria-haspopup="true"
       aria-expanded="false" routerLinkActive="active">Rectification Fiscale Matif et TCN</a>
      <ul class="onyx-drop-submenu">
        <li>
          <a class="dropdown-item" role="button" href="#" routerLink="/rectifMatif_creer" routerLinkActive="active">Creer</a></li>
        <li>
          <a class="dropdown-item" role="button" href="#" routerLink="/rectifMatif_interroger" routerLinkActive="active">Interroger</a></li>
      </ul>
    </li>
    <li>
      <a href="" role="button" (click)="quit();"
        aria-haspopup="true" aria-expanded="false">Quitter</a>
    </li>
  </ul>
</nav>
<article >
    <router-outlet></router-outlet>
</article>
</div>

<footer class="footer">
  <h5>REC Angular POC</h5>
</footer>
</body>