/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
  width: 10%;
    float: left; 
    margin: 0 1em 1em 1em; 
}

input[type=text] {
    width: 10%;
    float: left; 
    margin: 0 1em 1em 1em; 
}

input[type=text]#txtBanque {
    width: 5em;
}

label {
    text-align: right; 
    float: left; 
    padding: 0.25em 0 0 1em;
}

.form-control {
    font-size: 0.9rem;
}